spring:
  profiles:
    active: local

---
spring:
  config:
    activate:
      on-profile: local
  h2:
    console:
      enabled: true
  datasource:
    url: jdbc:h2:mem:database
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    hibernate:
      ddl-auto: create-drop
    defer-datasource-initialization: true
dataloader:
  enable: true

---
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: ${DB_URL}
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: ${DDL_AUTO}
    defer-datasource-initialization: true
dataloader:
  enable: true
server:
  port: ${SERVER_PORT}

management:
  server:
    port: ${MONITORING_PORT}
  endpoints:
    web:
      base-path: ${MONITORING_BASE_PATH}
      exposure:
        include: prometheus
    enabled-by-default: false
    jmx:
      exposure:
        exclude: "*"
  endpoint:
    prometheus:
      enabled: true

---
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: ${DB_URL}
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: ${DDL_AUTO}
    defer-datasource-initialization: true
dataloader:
  enable: true
server:
  port: ${SERVER_PORT}

management:
  server:
    port: ${MONITORING_PORT}
  endpoints:
    web:
      base-path: ${MONITORING_BASE_PATH}
      exposure:
        include: prometheus
    enabled-by-default: false
    jmx:
      exposure:
        exclude: "*"
  endpoint:
    prometheus:
      enabled: true
